.container{
    z-index: 50;
    width:85%;
    margin:50px 0;
    margin-top: 0;
}

.image{
    z-index: 50;
    width: 370px;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-bottom: 0;
    
}

.chart{
    margin-top: 50px;
}

.card{
    margin:0 2% !important
}

.infected{
    border-top:10px solid rgba(4, 181, 235,0.5);
    background-color: rgb(231, 251, 252,0.6) !important
}

.recovered{
    border-top:10px solid rgba(5, 206, 105, 0.8);
    background-color: rgb(213, 248, 198,0.6) !important
}

.deaths{
    border-top:10px solid rgba(241, 63, 31, 0.8);
    background-color: rgba(247, 203, 203,0.6) !important
}

.dataDesc{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: rgba(255, 51, 0, 0.678);
}

@media(max-width:770px){
    .card{
        margin:2% 0 !important;
    }
}

@media(max-width:770px){
    .container{
        width:100%
    }
}